{% extends "base.html" %} 

{% block title %}Contact Us - Project Cognexus{% endblock %} 

{% block content%}

    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">This open knowledge network was created in 2021</h2>
                </div>
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="gallery">
                                    <div ><a href="/assets/img/SaifR.jpg"><img class="img-fluid d-block mx-auto" src="/assets/img/SaifR.jpg"></a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3>Saif.R</h3>
                                    <div class="summary">
                                        <p>HI I am Saifuddin Raja , the creator of&nbsp; Project Aphorisms ,&nbsp;</p>
                                        <p>you can reach me via email and instagram at the below links<br></p><a target="_blank" href="mailto:saifuddin.raja24@gmail.com" style="margin: 20px;">saifuddin.raja24@gmail.com</a><a target="_blank" href="https://www.instagram.com/saif.raja_" style="text-align: right;transform: translate(107px);margin: 20px;">Instagram&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info" style="margin: 40px;">
                            <h3>note from user_one :&nbsp; Saif.R</h3>
                            <div class="summary">
                                <p>HI I am the creator of&nbsp; Project Aphorisms ,&nbsp;</p>
                                <p>This project was originally intended to be a private note taking system , for organizing all the unstructured wisdom and insights , I came across from so many different sources , and also to store the few original thoughts I have , which I could not put into any boxes or categories&nbsp;<br></p>
                                <p>A lot of this unstructured knowledge was getting&nbsp; lost just because there was no easy way to organize and store it . I felt that this unstructured knowledge might be the one that was needed to be stored and remembered and revisited the most ,&nbsp; just because it is so new , so on the edge of my mental categorization that , I didn't even have a box to store it in .<br></p>
                                <p>This burning desire , which consumed me over the 2-3 yrs before 2021 , led me to piece together a idea that would eventually become this network</p>
                                <p>I really hope this provide value to you and the world at large , I hope this becomes my contribution to the world</p>
                            </div>
                        </div>
                    </div>
                    <div class="clean-related-items"></div>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Dark -->

{% endblock %}
