{% extends "base.html" %} 

{% block title %}Welcome to Project Cognexus{% endblock %} 

{% block content%}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="padding-bottom: 25px;">
            <div class="container">
                <div class="block-heading" style="margin: 25px;padding: 25px;">
                    <h2 class="text-info">welcome to a new open network of human knowledge</h2>
                    <p>Seek and Share knowledge in a way that makes the world's wisdom more useful to you</p>
                </div>
            </div>
            <div class="container" style="padding-top: 25px;">
                <div class="post-body">
                    <h3 style="margin-top: 36px;margin-right: 10px;">How it works&nbsp;</h3>
                    <p>At the core of this Network is a very simple premise :<br>tell the world , in a short paragraph , something you wish to tell the world<br><br>this short note can be a thought that struck you , <br>a good quote that you read , <br>some advice on productivity , <br><br>and after you type it down ,<br>select at least one other note on this network to link your note to ,<br>it is through these links that people will discover your note<br></p>
                    <h4 style="margin-top: 36px;margin-right: 10px;">How can you Learn here&nbsp;</h4>
                    <p>alternatively , come to this network to learn from those who have added notes to it ,<br>simply go to the 
                        <a href="/search_note">Explore</a>
                        &nbsp;page and search about any topic that interests you ,<br>things like productivity , philosophy are quite hot topics on the network ,<br><br>and over there you will see a list of notes that match your search term <br>select one that interests you the most , and go to its page<br><br>there you will find notes that are linked by the contributing users ,<br>No algorithms deciding which note you see next , what information you consume , <br>Authors of this network link their notes to existing notes , and you see those links <br></p>
                    <h4 style="margin-top: 36px;margin-right: 10px;">Why it works</h4>
                    <p>simply selecting one note to which to link ,<br>is a decision made by the user at the moment of authoring a note <br><br>when Author makes one or more connection to his note , it is a small local link ,<br>But over time , when more and more notes are added , <br>and consequently more connections are made , <br>A hundred notes later , what emerges is a network of interconnected notes <br>that are connected organically by the authors ,<br>and that contain paths that will delight you to read .<br><br>Go try some , <br>Starting at any point in the network the user can discover knowledge ,<br>Lets say , you want to learn from the network community about <br>Productivity , or Buddhism or Neuroscience , <br>Then simply use the search bar in the explore page and start down a reading path ,<br>choosing at each note , where to next .<br>

                        <a href="/search_note">Experience the Network</a><br></p>

                    <h4 style="margin-top: 36px;margin-right: 10px;">The Potential</h4>
                    <p>Just like the way in a organism , individual cells , all performing simple tasks ,&nbsp;<br>taking part in simple interactions with their neighboring cells ,<br><br>theses individual cells and their networks when connected over a network become a organism&nbsp;<br>that can perform more much more complex behaviors , then what a single cell could do .<br></p>
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="figure"><img class="rounded img-fluid figure-img" src="assets/img/Thinkstock_network.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                                <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <p><br>On this network a small note with a local link&nbsp; ,<br>when done a hundred times over by ten different people , <br>will result in a network of knowledge greater than the 10 people .<br><br>This leverage of knowledge is what we are building here in this network <br>This Network does not have a fixed structure , <br>The structure evolves over time , <br>through the interactions of the people using it , and adding to it <br>This fundamentally different structure results in the emergence of a new type of connected knowledge , <br></p>
                        </div>
                    </div>
                    <p>I urge you to imagine how this network could push further human wisdom in ways that will be difficult to even comprehend ,&nbsp;<br><br>These interconnected pathways in the network will eventually contain a lot more wisdom ,<br>than what one man could learn in one life time , <br>This network will become a store of knowledge ,<br>Where you choose what to read next , <br>And where each little note of knowledge also contains doors to more knowledge , <br><br></p>
                    <h4 style="margin-bottom: 40px;margin-top: 20px;">I Invite you to read on this network , <a href="/search_note">Start Exploring &gt;&gt;&gt;</a></h4>
                </div>
            </div>
        </section>
        <section class="clean-block about-us" style="padding-bottom: 25px;">
            <div class="container">
                <div class="block-heading" style="padding-top: 25px;padding-bottom: 25px;">
                    <h2 class="text-info" style="margin-bottom: 0px;">Read more about the Design of this Network</h2>
                    <div class="row" style="margin: 0px;margin-top: 25px;">
                        <div class="col-md-6">
                            <p style="text-align: center;margin: 20px;">Learn about the design of this network , <br>through a example that walks you <br>through a use case ,<br></p>
                            <a href="/use_case" style="text-align: center;margin: 20px;">Link to page</a>
                        </div>
                        <div class="col-md-6">
                            <p style="margin: 20px;">Explore in-depth comparisons between this Network and Facebook , Instagram , Quora , Medium and Reddit</p>

                            <a href="/comparison" style="margin: 20px;">Link to page</a>

                        </div>
                    </div>
                </div>
            </div>
            <section class="clean-block slider dark" style="padding-bottom: 0px;">
                <div class="container">
                    <div class="block-heading" style="margin-bottom: 0px;padding-top: 0px;">
                        <h2 class="text-info">Contact Us&nbsp; and&nbsp; About Us</h2>
                        <p>Learn more about the creators of this network<br></p>
                        <p>Get in touch about any questions and comments that you may have ...<br></p>

                        <a href="/contact_us">Link to page</a>

                    </div>
                </div>
            </section>
        </section>
    </main><!-- Start: Footer Dark -->

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/smoothproducts.min.js"></script>
    <script src="/assets/js/theme.js"></script>

{% endblock %}
