{% extends "base.html" %} 

{% block title %}Use Case Example of Project Cognexus{% endblock %} 

{% block content%}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="padding-bottom: 25px;">
            <div class="container">
                <div class="block-heading" style="margin: 25px;padding: 25px;">
                    <h2 class="text-info">Use case Example</h2>
                    <p>understanding the unique way in which this network can help you with structuring and communicating new ideas<br></p>
                </div>
            </div>
            <div class="container" style="padding-top: 25px;">
                <div class="post-body">
                    <p>Say , you wanted to tell everyone about a new project you are working on , <br>for an example , the project is about how Sanskrit can be used as a programming language ,<br>because of its preciseness and completeness.<br><br><br>On the current internet you would have three options , <br>&nbsp; &nbsp; 1. To find a place where the talk about new ways to create computer languages and tell them about your work<br>&nbsp; &nbsp; 2. To find a place where they talk about Sanskrit and its uses in the modern world&nbsp; and tell them about your work <br>&nbsp; &nbsp; 3.&nbsp; To tell about your work on all of these places individually and then track the conversation across all these different media<br><br><br>On this new knowledge sharing network you can share such knowledge , <br>sharing knowledge , especially the types which cannot be put into only one particular category , <br>or for knowledge for which there is no categorization invented yet ,<br></p>
                    <div class="row" style="margin: 10px;margin-right: 10px;">
                        <div class="col-md-6">
                            <figure class="figure">
                                <img class="rounded img-fluid figure-img" src="assets/img/git-branches-merge.png" alt="neric square placeholder image with rounded corners in a figure." style="margin: 20px;margin-right: 0px;margin-left: 0px;"></figure>
                        </div>
                        <div class="col">
                            <p>Here you simply need to create a note telling the world about what you <br>thought up , observed , invented , discovered , <br>and link it to at least one other note in the network <br><br>In the above example , you could create a note about your Sanskrit based programming language , <br>and link it to a note about how to make new programming language <br>and also link it to a note about the different things Sanskrit can be used for ,<br>To help your readers , you can even link further to a note where the details and specifics of the sanskrit grammar and syntax are described<br></p>
                        </div>
                    </div>
                    <p>With these 3 link your knowledge will be connected with all those discussions&nbsp;<br>and whenever someone visits those notes ,&nbsp;<br>your note will be visible below as a connected note<br><br>When they want to add to the discussion ,&nbsp;<br>they simply create a note linked to your note ,<br>and they also link some other notes , to which they would like to draw your attention to .<br><br>Over time , when people discuss and add to the conversation ,&nbsp;<br>The simple act of linking at least one note that is connected to your note ,&nbsp;<br>On the larger perspective , results in a network of knowledge ,&nbsp;<br>connected by Users and not matching algorithms&nbsp;</p>
                    <h4 style="margin-bottom: 40px;margin-top: 20px;">I Invite you to read on this network , <a href="/search_note">Start Exploring &gt;&gt;&gt;</a></h4>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark" style="padding-bottom: 0px;">
            <div class="container">
                <div class="block-heading" style="margin-bottom: 0px;padding-top: 0px;">
                    <h2 class="text-info">Contact Us&nbsp; and&nbsp; About Us</h2>
                    <p>Learn more about the creators of this network<br></p>
                    <p>Get in touch about any questions and comments that you may have ...<br></p><a href="/contact_us">Link to page</a>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Dark -->

{% endblock %}
